:host {
    .navbar {
        display: flex;
        justify-content: flex-end;
    }
    .navbar-brand {

    }
    .navbar-collapse {

    }
    li {
        display: inline-block;
    
        a {
            padding: 1rem;
            display: block;
            color: #74924C;
            border-right: 1px solid #BAD78B;
            background: rgba(186, 215, 139, .3);
        }
    
        a:hover {background: #BAD78B}
    }
}