<nav class="navbar">
    <div class="navbar__brand">
        <img class="navbar__logo" src="assets/img/logo.svg">
    </div>
    <div class="navbar__collapse">
        <ul class="navbar__nav">
            <li class="navbar__item">
                <a class="navbar__link" href="*">Home</a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="*">Company</a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="*">Team</a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="*">Jobs</a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="*">Press</a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="*">Blog</a>
            </li>
        </ul>
    </div>
</nav>