<nav class="navbar custom-font">
    <div class="navbar__container">
        <div class="navbar__brand">
            <img class="navbar__logo" src="assets/img/logo.svg">
        </div>
        <div class="navbar__menu">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>menu</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>
                    <span>Home</span>
                </button>
                <button mat-menu-item disabled>
                    <span>Company</span>
                </button>
                <button mat-menu-item>
                    <span>Team</span>
                </button>
                <button mat-menu-item>
                    <span>Jobs</span>
                </button>
                <button mat-menu-item>
                    <span>Press</span>
                </button>
                <button mat-menu-item>
                    <span>Blog</span>
                </button>
            </mat-menu>
        </div>
        <div class="navbar__collapse">
            <ul class="navbar__nav">
                <li class="navbar__item">
                    <a class="navbar__link" href="*">Home</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="*">Company</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="*">Team</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="*">Jobs</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="*">Press</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="*">Blog</a>
                </li>
            </ul>
        </div>
    </div>
</nav>