:host {
    .navbar {
        &__container {
            display: flex;
            width: 100%;
            margin: auto;
            padding: 0 1rem;
            justify-content: space-between;
        }

        &__menu {
            display: none;
            margin: auto 0;
        }

        &__logo {
            height: 70px;      
        }

        &__collapse {
            margin: auto 0;
        }

        &__item {
            display: inline-block;
        }

        &__link {
            padding: 0.5rem;
            display: block;
            text-decoration: none;
            color: rgb(66, 65, 65);
        }

        &__link:hover {
            color: rgba(0, 0, 0, 0.7);
        }

        &__link:after {
            content: '|';
            margin-left: 1rem;
        }

        @media (max-width: 768px) {
            &__collapse {
                display: none;
            }

            &__nav {
                display: none;
            }

            &__link:after {
                content: none;
            }

            &__menu {
                display: block;
            }

        }

        @media (min-width: 576px) {
            &__container {
                max-width: 540px;
            }
        }

        @media (min-width: 768px) {
            &__container {
                max-width: 720px;
            }
        }

        @media (min-width: 992px) {
            &__container {
                max-width: 960px;
            }
        }

        @media (min-width: 1200px) {
            &__container {
                max-width: 1030px;
            }
        }
    }
}