:host {
    .navbar {
        display: flex;
        padding: 0 1rem;
        justify-content: space-between;

        &__logo {
          height: 100px;      
        }

        &__item {
            display: inline-block;
        }

        &__link {
            padding: 0.5rem;
            display: block;
            text-decoration: none;
            color: rgb(66, 65, 65);
        }

        &__link:hover {
            color: rgba(0, 0, 0, 0.7);
        }

        &__link:after {
            content: '|';
            margin-left: 1rem;
        }
    }
}